body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

nav {
  background-color: bg-primary !important;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
}

.nav-link {
  color: white;
}

#services {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 100px;
  text-align: center;
}

#section-0 {
  height: 100vh;
  padding: 0px 100px 510px 245px;
  display: grid;
  margin-bottom: none;
  text-align: center;
  background-image: url(images/15.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
}

#section-0 h1 {
  color: yellow;
}

#section-0 ol li {
  font-size: 30px;
  padding: 0px 100px 10px 100px;
  list-style-type: none;
  margin-bottom: 15px;
}

#section-0 ol {
  color: white;
}

#section-1 {
  height: 100vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2 {
  color: yellow;
  margin-top: none;
}

#section-1 ol li {
  font-size: 30px;
  padding: 0px 100px 10px 100px;
  list-style-type: none;
}

#section-1 ol {
  color: white;
}

#images {
  display: flex;
  height: 100vh;
  padding: 9px;
}

#section-5 {
  background-color: red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#section-5 ol li {
  font-size: 30px;
  list-style-type: none;
  margin-bottom: 10px;
}

#section-5 ol {
  padding: 0 80px 0 80px !important;
  color: white;
}

#section-5 h2 {
  margin-bottom: 50px;
  color: yellow;
}

#section-6 {
  background-color: blue;
  height: 100vh;
  padding: 0px 200px 10px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#section-6 ol li {
  font-size: 30px;
  list-style-type: none;
}

#section-6 ol {
  color: white;
}

#section-6 h1 {
  margin-bottom: 50px;
  color: yellow;
}

.top-bar {
  justify-content: center;
  background: yellow;
  width: 100vw;
  height: 3rem;
  padding: 0.5em;
}

.top-bar a {
  display: flex;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}
#section-7 {
  background-color: black;
  height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#section-7 h1 {
  color: yellow;
  margin-bottom: none;
  padding-bottom: 50px;
}

#section-7 h2 {
  padding-bottom: 15px;
  color: white;
}

#section-7 h3 {
  color: white;
}
